body {
    margin-left:auto;
    margin-right:auto;
    width: 55em;
}

#preamble{
    margin: auto;
    width: 55em;
}

#test {
    margin: auto;
}

div.finished {
    margin: auto;
    margin-top: 40px;
    text-align:center;
}

div.amtpreview {
    text-align:center;
    background-color: yellow;
}


h1 {
    text-align:center;
    margin-bottom:2em;
}

h3 {
    margin-top:0px;
    margin-bottom:0px;
}

@media print {
    #preamble{
        width:100%;
    }
    #preamble h1 {
        margin-top:0em;
        margin-bottom:0em;
    }
    div.amtpreview {
        display: none;
    }
}

table.invisible
{
    border: 0px !important;
    border-collapse: collapse;
    margin: 0px !important;
    padding: 0px !important;
}

table.invisible td
{
    border: 0px !important;
    border-collapse: collapse;
    margin: 0px !important;
    padding: 0px !important;
}

table.test
{
    border: 0px solid black;
	border-width: 0px;
	border-color: #666666;
	border-collapse: collapse;

    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:1em;

    text-align:center;

}

table.test td {
    border: 1px solid black;
	border-width: 1px;
	border-color: #000000;
	border-collapse: collapse;

    padding:3px;
}

table.test th {
    border: 1px solid black;
	border-width: 1px;
	border-color: #000000;
	border-collapse: collapse;

    padding:3px;

    background-color: #C0C0C0;
}

td.even {
    background-color: #E8E8E8;
}

td.odd {
    background-color: #FFFFFF;
}


table.info {
    border: 0px solid white;
	border-collapse: collapse;
}

table.info td {
	border-bottom: 1px solid #C0C0C0;
	border-collapse: collapse;
}

td.info_entry {
    text-align:center;
}
td.info_entry table {
    border: 0px solid black;
	border-collapse: collapse;
	width:22em;
}
td.info_entry td {
    border: 0px solid black;
	border-collapse: collapse;
}
td.info_input {
    text-align:right;
}
td.info_text {
    text-align:left;
}
